* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.App {
    min-height: 100vh;
    display: flex;
    background-image: url("./background.png");
    background-position: center;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}